.kitchen-bg {
    background: rgb(249, 206, 127);
    width: 100%;
    height: 100vh;
    position: absolute;
}

.pan {
    background: url('img/pan.png') no-repeat center center;
    background-size: contain;
    width: 80%; /* Adjust the width and height as needed */
    height: 80%;
    position: absolute;
    top: 20%; /* Adjust the positioning as needed */
    left: 10%;
    transform: translate(-50%, -50%);
    transform: rotate(-190deg);
}

.grey-rectangle {
    background: grey; /* Set the background color to grey */
    width: 500px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    position: absolute; /* Set the position to absolute */
    top: 50%; /* Adjust the positioning as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20%;
    z-index: -1;
}

.square-button {
    position: absolute;
    bottom: 20%; /* Adjust the distance from the bottom as needed */
    right: 20%; /* Adjust the distance from the right as needed */
    background: #008CBA; /* Background color of the button */
    width: 100px; /* Adjust the button width as needed */
    height: 100px; /* Adjust the button height as needed to make it a square */
    text-align: center;
    border-radius: 20%;
}

.square-button button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
}


.round-button {
    position: absolute;
    bottom: 20%; /* Adjust the distance from the bottom as needed */
    left: 20%; /* Adjust the distance from the right as needed */
    background: #5b5b5b; /* Background color of the button */
    width: 100px; /* Adjust the button width as needed */
    height: 100px; /* Adjust the button height as needed to make it a square */
    text-align: center;
    border-radius: 50%;
}

.round-button button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
}

.vertical-gauge {
    position: absolute;
    bottom: 20%; /* Adjust the bottom distance as needed */
    left: 5%;
    width: 4%;
    height: 40%;
    background: #eee;
    border: 1px solid #777;
    overflow: hidden;
    transform: rotate(180deg);
}

.gauge-fill {
    width: 100%;
    height: 0; /* Start with 0 height (empty) */
    background: green;
    
}

.red-line {
    width: 50%;
    height: 10%;
    background: red;
    position: absolute;
    bottom: 20%;
}

/* Transition */


.transition-block{
    display: flex;
    background-color: black;
    border-color: black;
  }
  
  .container{
    display: none;
  }
  
  .transition-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0);
    height: 100vh;
    z-index: 9999;
  }
  
  body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    background-color: black;
  }
  
  html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  @keyframes sliding-left-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
  }
  
  @keyframes sliding-left-out {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }