.bg {
    background-image: url("img/bg.jpg");

    height: 100%;
    width: 100%;

    margin: 0%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grill-top img{
    max-width: 20%;
    object-fit: contain;
    align-items: center;
}

.timer_design{
    text-align: center;
}

.rectangle{
    height: 10%;
    width: 40;
    background: rgba(220, 220, 220, 0.778);
}

.transition-block{
    display: flex;
    background-color: black;
    border-color: black;
  }
  
  .container{
    display: none;
  }
  
  .transition-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0);
    height: 100vh;
    z-index: 9999;
  }
  
  body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    background-color: black;
  }
  
  html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  @keyframes sliding-left-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
  }
  
  @keyframes sliding-left-out {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }